/*--------------------------------------------------------*/
/*                   INICIALIZANDO                        */
/*--------------------------------------------------------*/

/***Zerando toda estilização ---------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/***Definindo paleta de cores para o projeto------------- */
/*   >> Irei utilizar atribuição de variaveis p/ rganizar */

:root {

    --font-color-white: #FFFFFF;
    --font-color-gray-bold: #262526;



    --bg-gray-regular: #E7E7E7;
    --bg-white-regular: #FFF;
    --bg-green: #009432;
    --bg-red: #eb0000;


    --rgba-black: rgba(0, 0, 0, 0.08);

}


html {
    color: var(--font-color-gray-bold);
}


/***Definindo a tipografia geral-------------------------- */
body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: var(--font-color-grafit);
    background: var(--bg-gray-regular);
    padding-top: 100px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-color-grafit-bold);
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

p {
    text-align: left;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}

blockquote {
    margin: 0;
}

strong {
    font-weight: 700;
}

/***Régua vermelha para ter visão de espaço dos elementos- */
/*  >> basta colocar "regua" em qualquer nome de tag + 'regua' e ele mostra  */
.regua {
    border: 1px solid var(--red-color);
}


header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;

}


header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {

    font-size: 24px;
    background-color: var(--bg-white-regular);
    border: none;
    border-bottom: 2px solid var(--font-color-gray-bold);
    padding: 8px;
}

#nota-atividade{
    text-align: center;
}

form button {
    background: var(--bg-green);
    color: var(--font-color-white);
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid var(--font-color-gray-bold);
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid var(--rgba-black);
}

table td img {
    height: 30px;
}

.resultado {
    padding: 8px;
    font-weight: bold;
    color: var(--font-color-white);
    background-color: var(--font-color-gray-bold);
    border-radius: 3px;

}

.aprovado{
    background: var(--bg-green);   
}

.reprovado{
    background: var(--bg-red);
    
}

.bloc-lin{
    display: flex;
}

#text-h6{
    color: var(--gray-light);
    padding-top: 10px;
}

#text-h4{
    color: var(--gray-light);
    padding: 10px 0;
}
