/* Block */
.product {}

/* Element */
.product__image {
    width: 100%;
}

.product__name {
    font-size: 1.2em;
    margin: 8px 0;
}

.product__description {
    color: gray;
}

/* Modifier */
.product--highlighted {
    border: 2px solid gold;
    padding: 8px;
    background-color: #ffff42;
}
